@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Spartan', sans-serif;
  color: #1A1A1A;
  background-color: #f2f2f2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  color: #1A1A1A
}

.brand-title{
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #1a1a1a;
  padding: 1.5rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #284E8A;
}
.navbar-links li a:hover {
  color: #f2f2f2
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  widows: 100%;
  background-color: #1a1a1a;
  border-radius: 10px;
}

@media(max-width: 1300px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

  }
  .toggle-button{
    display: flex;
  }

  .navbar-links{
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li{
    text-align: center;
  }
  .navbar-links li a {
    padding: .85rem 2rem;
  }
  .navbar-links.active {
    display: flex;
  }
}

form{
  padding-top: 55vh;
  padding-bottom: 55vh;
}
.btn{
  color: #f2f2f2;
  text-align: center;
  font-size: 1rem;
  background: #1a1a1a;
  border-radius: 10px 10px;
  padding: 1rem;
  shadow: 0;
  text-decoration: none;
  border: none;
  margin: 1rem;
  justify-content: space-between;
  display: block;
}
.btn::hover{
  cursor: pointer;
}
.img{
  display: grid;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  padding: 10px;
  padding-bottom: 15%;
  padding-left: 1rem;
  background: url(https://i.imgur.com/X2JJCNn.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
footer{
  background: #1A1A1A;
  color: #F2F2F2;
  font-size: 0.5rem;
  padding: 2.5rem;
}

#open-btn img {
  max-height: 40px;
  width: auto;
  text-align: left;
  align-items: left;
  justify-content: left;
  text-align: left;
  float: right; margin: 0px 15px 15px 0px;
}

.quote{
  text-align: left;
  background: #1A1A1A;
  color: #F2F2F2;
  font-size: 12px;
  padding: 2rem;
}