@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Spartan', sans-serif;
  color: #1A1A1A;
  background-color: #f2f2f2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  color: #1A1A1A
}

.brand-title{
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #1a1a1a;
  padding: 1.5rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #284E8A;
}
.navbar-links li a:hover {
  color: #f2f2f2
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  widows: 100%;
  background-color: #1a1a1a;
  border-radius: 10px;
}

@media(max-width: 1300px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

  }
  .toggle-button{
    display: flex;
  }

  .navbar-links{
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li{
    text-align: center;
  }
  .navbar-links li a {
    padding: .85rem 2rem;
  }
  .navbar-links.active {
    display: flex;
  }
}

header{
  padding-top: 13rem;
  padding-bottom: 15rem;
  align-items: left;
  justify-content: left;
  text-align: left;
  color: #1a1a1a;
  background: #f2f2f2;
}
.home-header{
  padding: 2rem;
}

.home-header h1{
  font-size: 4rem;
  color: #284E8A;
}
@media only screen and (max-width: 900px) {
  hello{}
  .home-header h1{
    font-size: 3rem;
  }
}
@media only screen and (max-width: 350px) {
  hello{}
  .home-header h1{
    font-size: 2rem;
  }
}
.Committees h2 p {
  padding: 1.2rem;
}

.Committees h2 {
  background: #284E8A;
  color: #f2f2f2;
  padding: 1.2rem;
}

.Committees p {
  background: #f2f2f2;
  padding: 1.2rem;
}

.Committees div {
  background: #f2f2f2;
  padding: 1.2rem;
}

.btn-a{
  padding: 0.2rem;
  border: 10px;
  border-style: solid; 
  border-radius: 7px 7px;
  border-color: #408ACF;
  background: #408ACF;
  color: #f2f2f2;
  text-decoration: none;
  
}
.btn-a:hover{
  padding: 0.2rem;
  border: 10px;
  border-style: solid; 
  border-radius: 7px 7px;
  border-color: #313131;
  background: #313131;
  color: #f2f2f2;
  cursor: pointer;
}

.img{
  display: grid;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  padding: 10px;
  padding-bottom: 15%;
  padding-left: 1rem;
  background: url(https://i.imgur.com/X2JJCNn.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
footer{
  background: #1A1A1A;
  color: #F2F2F2;
  font-size: 0.5rem;
  padding: 2.5rem;
}

#open-btn img {
  max-height: 40px;
  width: auto;
  text-align: left;
  align-items: left;
  justify-content: left;
  text-align: left;
  float: right; margin: 0px 15px 15px 0px;
}

.quote{
  text-align: left;
  background: #1A1A1A;
  color: #F2F2F2;
  font-size: 12px;
  padding: 2rem;
}