@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Spartan', sans-serif;
  color: #1A1A1A;
  background-color: #f2f2f2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  color: #1A1A1A
}

.brand-title{
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #1a1a1a;
  padding: 1.5rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #284E8A;
}
.navbar-links li a:hover {
  color: #f2f2f2
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  widows: 100%;
  background-color: #1a1a1a;
  border-radius: 10px;
}

@media(max-width: 1300px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

  }
  .toggle-button{
    display: flex;
  }

  .navbar-links{
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li{
    text-align: center;
  }
  .navbar-links li a {
    padding: .85rem 2rem;
  }
  .navbar-links.active {
    display: flex;
  }
}


.company-logo{
  width: 100px;
  height: auto;
}

.iframe {
  display: flex;
  align-content: center;
  margin-left: 50%;
}

footer{
  background: #1A1A1A;
  color: #F2F2F2;
  font-size: 0.5rem;
  padding: 2.5rem;

}
@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}


iframe{
  border: none;
}