@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Spartan', sans-serif;
  color: #1A1A1A;
  background-color: #f2f2f2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  color: #1A1A1A
}

.brand-title{
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #1a1a1a;
  padding: 1.5rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #284E8A;
}
.navbar-links li a:hover {
  color: #f2f2f2
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  widows: 100%;
  background-color: #1a1a1a;
  border-radius: 10px;
}

@media(max-width: 1300px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

  }
  .toggle-button{
    display: flex;
  }

  .navbar-links{
    display: none;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li{
    text-align: center;
  }
  .navbar-links li a {
    padding: .85rem 2rem;
  }
  .navbar-links.active {
    display: flex;
  }
}

header{
  padding-top: 13rem;
  padding-bottom: 15rem;
  align-items: left;
  justify-content: left;
  text-align: left;
  color: #1a1a1a;
  background: #f2f2f2;
}
.home-header{
  padding: 2rem;
}

.home-header h1{
  font-size: 4rem;
  color: #284E8A;
}
@media only screen and (max-width: 902px) {
  hello{}
  .home-header h1{
    font-size: 3rem;
  }
  img{
    width: 450%;
    height: auto;
    margin: 0;
  }
}
@media only screen and (max-width: 350px) {
  hello{}
  .home-header h1{
    font-size: 2rem;
  }
  img{
    width: 100%;
    height: auto;
    margin: 0;
  }
}
img{
  width: 450px;
  height: auto;
  margin: 0;
}
.photo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  background: #dddddd;
  margin-bottom: 2rem;
  color: #1a1a1a;

}
.photo div h3 {
  marging-bottom: 2rem;
  padding: 2rem;
  padding-left: 0;
  line-height: 1.5rem;
  font-size: 32px;
}
.photo p {
  font-size: 24px;
}

.photo img {
  height: 450px;
}

.photo div {
  padding: 2rem;
}

.photo:nth-child(even) img {
  order: 2;
}

.btn{
  display: inline-block;
  background: #333533;
  color: #E8EDDF;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 5px 5px;
}

.btn:hover{
  background-color: #a2a2a2;
  color: #242423;
  opacity: 0.8;
}

@media only screen and (max-width: 900px) {
  .photo{
    display: block;

  }

  div{
    width: 100%;
  }

}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #1a1a1a;
  border-color: #1a1a1a transparent #1a1a1a transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  margin-top: 200px;
  position: absolute;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer{
  background: #1A1A1A;
  color: #F2F2F2;
  font-size: 0.5rem;
  padding: 2.5rem;
}

#open-btn img {
  max-height: 40px;
  width: auto;
  text-align: left;
  align-items: left;
  justify-content: left;
  text-align: left;
  float: right; margin: 0px 15px 15px 0px;
}

.quote{
  text-align: left;
  background: #1A1A1A;
  color: #F2F2F2;
  font-size: 12px;
  padding: 2rem;
}

div h3 .position{
  line-height: 1.5;
  padding: 1rem;
}

