@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Spartan', sans-serif;
  color: #1A1A1A;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  color: #1A1A1A;
}

.brand-title{
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #1a1a1a;
  padding: 1.7rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #284E8A;
}
.navbar-links li a:hover {
  color: #f2f2f2
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  widows: 100%;
  background-color: #1a1a1a;
  border-radius: 10px;
}

@media(max-width: 1300px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

  }
  .toggle-button{
    display: flex;
  }

  .navbar-links{
    display: none;
    width: 100%;
    max-height: 0;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li{
    text-align: center;
  }
  .navbar-links li a {
    padding: .5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
}

header{
  padding-top: 13rem;
  padding-bottom: 15rem;
  align-items: left;
  justify-content: left;
  text-align: left;
  color: #F2F2F2;
  background: url(https://i.imgur.com/JHkA98f.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-header{
  padding: 2rem;
}
.home-header h1{
  font-size: 6rem;
}

.section{
  padding: 2rem;
  background: #f2f2f2;
  line-height: 1.2;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.section p {
  line-height: 1.35;
}
#intro-sec{
   font-size: 2rem;
}
.section-top{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem;
  background: #f2f2f2;
  line-height: 1.2;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.section-top div p {
  line-height: 1.35;
}

.img-mun img {
  max-height: 200px;
  width: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img{
  display: grid;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  padding: 200px;
  padding-bottom: 15%;
  padding-left: 1rem;
  background: url(https://i.imgur.com/JHkA98f.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  background: #f2f2f2;
  padding: 4rem;
}

@media only screen and (max-width: 900px) {
  .grid{
    display: block;
    padding: 0;
  }
  .section-top{
    display: block;
  }
  .home-header h1{
    font-size: 4rem;
  }
  .btn{
    font-size: 0.7rem;
  }
  .gmap-canvas{
    height: 90px;
    width: 100px;
  }
}
@media only screen and (max-width: 400px) {
  .home-header h1{
    font-size: 3rem;
  }
  .be-the-change{
  font-size: 50%;
  padding: 1rem;
  background: #f2f2f2;
  }
}
.grid div {
  padding: 2rem;
}
.grid div p {
  padding: 1rem;
}

.grid div h1{
  padding: 1rem;
}
.logo-social{
  max-width: 50px;
  float: left;
}

.logo-social ul {
  padding: 2rem;
}

#demo{
  font-size: 40px;
}

.be-the-change{
  font-size: 300%;
  padding: 2rem;
  background: #f2f2f2;
}

.be-the-change p {
  text-align: center;
}

#schedule{
  padding: 0;
}
footer{
  background: #1A1A1A;
  color: #F2F2F2;
  font-size: 0.5rem;
  padding: 2.5rem;
}
.btn{
  color: #f2f2f2;
  text-align: center;
  font-size: 1rem;
  background: #1a1a1a;
  border-radius: 7px 7px;
  padding: 0.6rem;
  text-decoration: none;
}

.btn:hover{
  opacity: 70%;
}

#open-btn img {
  max-height: 40px;
  width: auto;
  text-align: left;
  align-items: left;
  justify-content: left;
  text-align: left;
  float: right; margin: 0px 15px 15px 0px;
}

.company-logo{
  width: 100px;
  height: auto;
}

.quote{
  text-align: left;
  background: #1A1A1A;
  color: #F2F2F2;
  font-size: 12px;
  padding: 2rem;
}

.youtube-vieo{
  float: left;
  display: flex;
}


#countdown{
  font-size: 5rem;
  padding: 3rem;
  text-align: center;
  padding-top: 40vh;
  padding-bottom: 40vh;
}


.countdown-title{
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}


.social-media{
  color: #F2F2F2;
  padding: 1rem;
  float: left;
  width: 100%;
}

.icons-social{
  float: left;
}

.logo-social{
  padding: 0.25rem;
}

.logo-social:hover{
  opacity: 0.5;
}

.amig{
  border-radius: 75%;
}